.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: red;
    font-size: 2rem;
}
.nav-link{
    color: rgb(0, 0, 0)  !important; 
}
.f-info-links a{
     text-decoration: none;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info{
    text-align: center;
    height: 8rem;
    
    background-color: rgba(240, 248, 255, 0.973);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
.f-info-links{
    width: 100%;
}
.f-info-socials{
    width: 100%;
}

